:root{
    --font-style: 'Nunito Sans', sans-serif;
}

body{
    background-color: #191622;
}

.top{
    position: absolute;

    width: 100%;
    height: 8%;

    background-color: #201b2d;
}

.titulo{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    color: white;
    font-size: 5vw;
    font-family: var(--font-style);
}

.boxCalcu{
    position: absolute;
    width: 90%;
    height: 200px;

    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #201b2d;
    border-radius: 30px;
}

.alturatx{
    display: flex;
    position: absolute;
    top:25%;
    left:25%;
    transform: translate(-50%, -50%);

    font-family: var(--font-style);
    color: white;
    font-size: 8vw;
}

.alturain{
    position: absolute;
    top: 25%;
    left: 70%;
    height: 10%;
    width: 30%;
    padding: 0.5%;
    transform: translate(-50%, -50%);

    background: transparent;
    border: solid #602a9b;
    border-radius: 1000px;
    outline: none;


    color: white;
    font-family: var(--font-style);
    font-size: 2.5vw;
    text-align: center;
}

.pesotx{
    display: flex;
    position: absolute;
    top: 50%;
    left:25%;
    transform: translate(-50%, -50%);

    font-family: var(--font-style);
    color: white;
    font-size: 2.5vw
}

.pesoin{
    position: absolute;
    top: 50%;
    left: 70%;
    height: 10%;
    width: 30%;
    padding: 0.5%;
    transform: translate(-50%, -50%);

    background: transparent;
    border: solid #602a9b;
    border-radius: 1000px;
    outline: none;


    color: white;
    font-family: var(--font-style);
    font-size: 2.5vw;
    text-align: center;
}

.botaoCalcu{
    position: absolute;
    top: 80%;
    left: 50%;
    height: 25%;
    width: 35%;
    transform: translate(-50%, -50%);

    background: transparent;
    border: solid #4f1585;
    border-radius: 1000px;

    font-family: var(--font-style);
    font-size: 5vw;
    color: #efefef;

    transition: background 0.5s;
}

.botaoCalcu:active{
    transition: background 0s;
    background-color: #3e1763;
}

.boxResult{
    position: absolute;
    width: 90%;
    height: 30%;

    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #201b2d;
    border-radius: 3vw;
    transition: box-shadow 0.5s;
}